<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.onlinesmartpos">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:name="com.app.pospos.utils.MultiLanguageApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <activity android:name="com.app.pospos.login.LoginActivity" />
        <activity android:name="com.app.pospos.pdf_report.ViewPDFActivity" />
        <activity android:name="com.app.pospos.table.MtableActivity" />
        <activity android:name="com.app.pospos.pos.Cart2Activity" />
        <activity android:name="com.app.pospos.about.AboutActivity" />
        <activity android:name="com.app.pospos.image.Get_imageshow" />
        <activity android:name="com.app.pospos.table.Mtable2Activity" />
        <activity android:name="com.app.pospos.pos.PosActivity" />
        <activity android:name="com.app.pospos.pos.ProductCart"/>
        <activity android:name="com.app.pospos.pos.Product2Cart"/>
        <activity android:name="com.app.pospos.pos.Pos2Activity" />
        <activity android:name="com.app.pospos.product.ProductActivity" />
        <activity android:name="com.app.pospos.product.Addproduct_Activity" />

        <activity android:name="com.app.pospos.print.PrinterActivity"/>
        <activity android:name="com.app.pospos.product.ScannerViewActivity" />
        <activity android:name="com.app.pospos.product.EscannerViewActivity" />
        <activity android:name="com.app.pospos.product.Editproduct_Activity" />
        <activity android:name="com.app.pospos.category.CategoryActivity" />
        <activity android:name="com.app.pospos.category.EditCategoryActivity" />
        <activity android:name="com.app.pospos.category.Addcategory_Activity" />

        <activity android:name="com.app.pospos.HomeActivity" />
        <activity android:name="com.app.pospos.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" />
        </provider>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

</manifest>